.shadowCanvas {
	width: 100%;
}
#capture {
	width: 100%;
}
#capture-table	{
	width: 100%;
}
#top-row, #bottom-row {
	width: 100%;
	clear: both;
}
#top-left, #bottom-left {
	width: 35%;
	float: left;
}
#top-right, #bottom-right {
	width: 35%;
	float: left;
}
#timer {
	width:30%;
	float: right;
	text-align: center;
	font-family: 'Wendy One', sans-serif;
	font-size: 40px;
	vertical-align: top;
}
#form-stuff {
	text-align: center;
}

