.shadowCanvas {
	width: 100%;
}
#capture {
	width: 100%;
}
#capture-table	{
	width: 100%;
}
#top-row, #bottom-row {
	width: 100%;
	clear: both;
}
#top-left, #bottom-left {
	width: 35%;
	float: left;
}
#top-right, #bottom-right {
	width: 35%;
	float: right;
	padding-right: 30%;
}

